.navbar {
    width:  100%;
    height: 80px;
    /* border-bottom:  1px solid #dfafff; */
    position: fixed;
    z-index: 2;
}

.navbar .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
}
.navbar .nav-menu{
    display: flex;
    color: #dfafff;
}
.navbar li{
    padding: 1rem;
    font-family: 'Rubik Moonrocks', cursive;
    text-transform: uppercase;
    font-size: 1.2rem;
}
